body {
  display: flex;
  justify-content: center;
  align-items: center;        
  flex-direction: column;
}

h1 {
    margin: 0;
    text-align: top;
}

.home_button{
  position: fixed;
  top: 20px;
  left: 45%;
  display: flex;
  gap: 20px;
}

.about_button{
  position: fixed;
  top: 20px;
  right: 45%;
  display: flex;
  gap: 20px;
}