body {
  display: flex;
  justify-content: center;
  align-items: center;        
  flex-direction: column;
}

h1 {
    margin: 0;
    text-align: top;
}

.home_button{
  position: fixed;
  top: 2%;
  left: 42%;
  display: flex;
  gap: 5%;
}

.about_button{
  position: fixed;
  top: 2%;
  right: 42%;
  display: flex;
  gap: 5%;
}