.homePage {
  display: flex;
  justify-content: top;
  align-items: top;      
  height: 100vh;  
  flex-direction: column;
  background-image: url('home.jpeg');
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat;
}


.aboutPage {
  display: flex;
  justify-content: top;
  align-items: top;      
  height: 100vh;  
  flex-direction: column;
}



.welcome {
    margin: 100px 0 10px 0;  
    text-align: center;
}

.affiliation{
    margin: 0;
    text-align: center;
}

.button{
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;
}

.about {
  margin: 0;
}